<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Plugin to prevent writes to config files -->
    <type name="Magento\Framework\App\DeploymentConfig\Writer">
        <plugin name="rnab_dotenv_prevent_config_write" 
                type="Rnab\DotEnv\Plugin\PreventConfigFileWritePlugin" 
                sortOrder="10" />
    </type>
</config>
